/* ============================= */
/* MAIN */
/* ============================= */

.audiciones-main{
    background-color: #f3d4e8;
}

/* ============================= */
/* INTRO */
/* ============================= */

.intro-audiciones{
    text-align: center;

    max-width: 1100px;

    margin: 0 auto;

    padding: 100px 20px 140px;
}

.intro-audiciones h1{
    font-size: 5rem;

    color: #760042;

    line-height: 0.95;

    margin-bottom: 35px;

    font-family: "Playfair Display SC", serif;

    text-transform: uppercase;
}

.intro-audiciones h2{
    color: #c00072;

    font-size: 1.8rem;

    margin-bottom: 40px;

    text-transform: uppercase;

    letter-spacing: 2px;

    font-weight: 600;
}

.intro-audiciones p{
    color: #ff4fb7;

    font-size: 1.8rem;

    max-width: 900px;

    margin: auto;

    line-height: 1.3;
}

/* ============================= */
/* JAGUAR CREW */
/* ============================= */

.crew{
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 80px;

    max-width: 1300px;

    margin: 0 auto;

    padding: 0 40px 180px;
}

.crew img{
    width: 250px;
    height: 250px;

    object-fit: cover;

    border-radius: 50%;

    box-shadow: 0 10px 30px rgba(0,0,0,0.10);
}

.crew-info{
    max-width: 650px;
}

.crew-info h3{
    font-size: 4rem;

    color: #c00072;

    margin-bottom: 35px;

    font-family: "Playfair Display SC", serif;

    text-transform: uppercase;
}

.crew-info p{
    color: #ff4fb7;

    font-size: 1.8rem;

    line-height: 1.5;
}

.crew-info strong{
    color: #760042;
}

/* ============================= */
/* MENSAJE FINAL */
/* ============================= */

.mensaje-final{
    text-align: center;

    padding-bottom: 140px;
}

.mensaje-final p{
    font-size: 3rem;

    color: #a0005a;

    font-family: "Playfair Display SC", serif;
}

/* ============================= */
/* RESPONSIVE */
/* ============================= */

@media(max-width: 950px){

    .intro-audiciones h1{
        font-size: 3.5rem;
    }

    .intro-audiciones h2{
        font-size: 1.3rem;
    }

    .intro-audiciones p{
        font-size: 1.4rem;
    }

    .crew{
        flex-direction: column;

        text-align: center;

        gap: 50px;

        padding-bottom: 120px;
    }

    .crew img{
        width: 220px;
        height: 220px;
    }

    .crew-info h3{
        font-size: 2.8rem;
    }

    .crew-info p{
        font-size: 1.4rem;
    }

    .mensaje-final p{
        font-size: 2rem;
    }
}